swagger: "2.0"
info:
  title: APIs du SI Keep Cool
  description: "Définition des APIs du SI Keep Cool."  
  version: '1.0.0'
host: "apis.keepcool.fr"
paths:
  /adherents:
    get:
      description: Récupérer la liste des adhérents
      summary: Récupérer la liste des adhérents
      responses:
        '200':
          description: Retourne la liste des adhérents
      tags:
        - Adhérent
    post:
      description: Ajouter un adhérent
      summary: Ajouter un adhérent
      responses:
        '201':
          description: Retourne l'adhérent créé
          schema:
            $ref: "#/definitions/Adherent"
        '409':
          description: Adhérent en doublon
      tags:
        - Adhérent        
  '/adherents/{id}':
    get:
      description: Récupérer un adhérent par son id
      summary: Récupérer un adhérent par son id
      tags:
        - Adhérent      
      parameters:
      - name: "id"
        in: "path"
        description: "ID de l'adhérent"
        required: true
        type: "integer"
        format: "int64"
      responses:
        '200':
          description: Retourne l'adhérent par son id
          schema:
            $ref: "#/definitions/Adherent"
    put:
      description: Mettre à jour un adhérent par son id
      summary: Mettre à jour un adhérent par son id
      parameters:
      - name: "id"
        in: "path"
        description: "ID de l'adhérent"
        required: true
        type: "integer"
        format: "int64"
      responses:
        '200':
          description: Retourne l'adhérent actualisé
          schema:
            $ref: "#/definitions/Adherent"
      tags:
        - Adhérent
    delete:
      description: Supprimer l'adherént
      summary: Supprimer l'adherént
      parameters:
      - name: "id"
        in: "path"
        description: "ID de l'adhérent"
        required: true
        type: "integer"
        format: "int64"
      responses:
        '200':
          description: Retourne true si l'adhérent a été supprimé
      tags:
        - Adhérent

  /prospects:
    get:
      description: Récupérer la liste des prospects
      summary: Récupérer la liste des prospects      
      responses:
        '200':
          description: Retourne la liste des prospects
      tags:
        - Adhérent
    post:
      description: Ajouter un prospect
      summary: Ajouter un prospect
      tags:
        - Adhérent
      responses:
        '201':
          description: Retourne le prospect créé
          schema:
            $ref: "#/definitions/Prospect"
        '409':
          description: Prospect en doublon
          
  '/prospects/{id}':
    get:
      description: Récupérer le prospect par son id
      summary: Récupérer le prospect par son id
      tags:
        - Adhérent
      parameters:
      - name: "id"
        in: "path"
        description: "ID du prospect"
        required: true
        type: "integer"
        format: "int64" 
      responses:
        '200':
          description: Retourne le prospect par son id
          schema:
            $ref: "#/definitions/Prospect"
    put:
      description: Mettre à jour un prospect
      summary: Mettre à jour un prospect
      tags:
        - Adhérent
      parameters:
      - name: "id"
        in: "path"
        description: "ID du prospect"
        required: true
        type: "integer"
        format: "int64"        
      responses:
        '200':
          description: Retourne le prospect actualisé
          schema:
            $ref: "#/definitions/Prospect"          
    delete:
      description: Supprimer un prospect
      summary: Supprimer un prospect
      tags:
        - Adhérent
      parameters:
      - name: "id"
        in: "path"
        description: "ID du prospect"
        required: true
        type: "integer"
        format: "int64"        
      responses:
        '200':
          description: Retourne true si le prospect a été supprimé

  /clubs:
    get:
      description: Récupérer la liste des clubs
      summary: Récupérer la liste des clubs
      tags:
        - Club      
      responses:
        '200':
          description: Retourne la liste des clubs

  '/clubs/{id}':
    get:
      description: Récupérer un club par son id
      summary: Récupérer un club par son id
      tags: 
        - Club
      parameters:
      - name: "id"
        in: "path"
        description: "ID du club"
        required: true
        type: "integer"
        format: "int64"
      responses:
        '200':
          description: Récupérer un club par son id
          schema:
            $ref: "#/definitions/Club"          
  /articles:
    get:
      description: Récupérer la liste des articles
      summary: Récupérer la liste des articles
      tags:
        - Article
      responses:
        '200':
          description: Retourne la liste des articles

  '/articles/{id}':
    get:
      description: Récupérer un article par son id
      summary: Récupérer un article par son id
      tags: 
        - Article
      parameters:
      - name: "id"
        in: "path"
        description: "ID de l'article"
        required: true
        type: "integer"
        format: "int64"
      responses:
        '200':
          description: Récupérer un article par son id      
          schema:
            $ref: "#/definitions/Article"

  /contratsadhesion:
    get:
      description: Récupérer la liste des contrats d'adhésion
      summary: Récupérer la liste des contrats d'adhésion
      tags:
        - Vente
      responses:
        '200':
          description: Récupérer la liste des contrats d'adhésion
    post:
      description: Ajouter un contrat d'adhésion
      summary: Ajouter un contrat d'adhésion
      tags:
        - Vente
      responses:
        '201':
          description: Retourne le contrat d'adhésion créé
          schema:
            $ref: "#/definitions/ContratAdhesion"

  '/contratsadhesion/{id}':
    get:
      description: Récupérer un contrat d'adhésion par son id
      summary: Récupérer un contrat d'adhésion par son id
      tags: 
        - Vente
      parameters:
      - name: "id"
        in: "path"
        description: "ID du contrat d'adhésion"
        required: true
        type: "integer"
        format: "int64"
      responses:
        '200':
          description: Récupérer un contrat d'adhésion par son id
          schema:
            $ref: "#/definitions/ContratAdhesion" 
    put:
      description: Mettre à jour un contrat d'adhésion
      summary: Mettre à jour un contrat d'adhésion
      tags:
        - Vente
      parameters:
      - name: "id"
        in: "path"
        description: "ID du contrat d'adhésion"
        required: true
        type: "integer"
        format: "int64"        
      responses:
        '200':
          description: Retourne le contrat d'adhésion actualisé
          schema:
            $ref: "#/definitions/ContratAdhesion"          
    delete:
      description: Supprimer un contrat d'adhésion
      summary: Supprimer un contrat d'adhésion
      tags:
        - Vente
      parameters:
      - name: "id"
        in: "path"
        description: "ID du contrat d'adhésion"
        required: true
        type: "integer"
        format: "int64"        
      responses:
        '200':
          description: Retourne true si le contrat d'adhésion a été supprimé

  /facturesvente:
    get:
      description: Récupérer la liste des factures de vente
      summary: Récupérer la liste des factures de vente
      tags:
        - Vente
      responses:
        '200':
          description: Récupérer la liste des factures de vente
    post:
      description: Ajouter une facture de vente
      summary: Ajouter une facture de vente
      tags:
        - Vente
      responses:
        '201':
          description: Retourne le contrat d'adhésion créé
          schema:
            $ref: "#/definitions/FactureVente"

  '/facturesvente/{id}':
    get:
      description: Récupérer une facture de vente par son id
      summary: Récupérer une facture de vente par son id
      tags: 
        - Vente
      parameters:
      - name: "id"
        in: "path"
        description: "ID de la facture de vente"
        required: true
        type: "integer"
        format: "int64"
      responses:
        '200':
          description: Récupérer une facture de vente par son id
          schema:
            $ref: "#/definitions/FactureVente"

  '/facturesvente/{id}/lignes':
    get:
      description: Récupérer les lignes d'une facture de vente par l'id de la facture
      summary: Récupérer les lignes d'une facture de vente par l'id de la facture
      tags: 
        - Vente
      parameters:
      - name: "id"
        in: "path"
        description: "ID de la facture de vente"
        required: true
        type: "integer"
        format: "int64"
      responses:
        '200':
          description: Récupérer les lignes d'une facture de vente par l'id de la facture
    post:
      description: Ajouter une ligne à une facture de vente par l'id de la facture
      summary: Ajouter une ligne à une facture de vente par l'id de la facture
      tags: 
        - Vente
      parameters:
      - name: "id"
        in: "path"
        description: "ID de la facture de vente"
        required: true
        type: "integer"
        format: "int64"
      responses:
        '200':
          description: Retourne la ligne de facture de vente créée
          schema:
            $ref: "#/definitions/LigneFactureVente"

  '/facturesvente/{id_fac}/lignes/{id_lignefac}':
    get:
      description: Récupérer une ligne d'une facture de vente par les id
      summary: Récupérer une ligne d'une facture de vente par les id
      tags: 
        - Vente
      parameters:
      - name: "id_fac"
        in: "path"
        description: "ID du contrat d'adhésion"
        required: true
        type: "integer"
        format: "int64"
      - name: "id_lignefac"
        in: "path"
        description: "ID de la ligne de la facture de vente"
        required: true
        type: "integer"
        format: "int64"
      responses:
        '200':
          description: Récupérer la ligne d'une facture de vente par son id
          schema:
            $ref: "#/definitions/LigneFactureVente"

  /reglements:
    get:
      description: Récupérer la liste des règlements
      summary: Récupérer la liste des règlements
      tags:
        - Finance
      responses:
        '200':
          description: Récupérer la liste des règlements
    post:
      description: Ajouter un règlement
      summary: Ajouter un règlement
      tags:
        - Finance
      responses:
        '201':
          description: Retourne le règlement créé
          schema:
            $ref: "#/definitions/Reglement"

  '/reglements/{id}':
    get:
      description: Récupérer un règlement par son id
      summary: Récupérer un règlement par son id
      tags: 
        - Finance
      parameters:
      - name: "id"
        in: "path"
        description: "ID du règlmeent"
        required: true
        type: "integer"
        format: "int64"
      responses:
        '200':
          description: Récupérer un règlement par son id
          schema:
            $ref: "#/definitions/Reglement"
            
  /login:
    post:
      description: S'authentifier sur la plateforme APIs
      summary: S'authentifier sur la plateforme APIs
      tags:
        - Outils
      responses:
        '200':
          description: Récupérer un jeton d'authentification
        '401':
          description: Echec d'authentification
            
definitions:
  Objet:
      type: "object"
      properties:
        dateCreation:
          type: "string"
          format: "date-time"      
        utilisateurCreation:
          type: "string"

  Personne:
      type: "object"
      properties:
        nom:
          type: "string"
        civilite:
          type: "string"
        prenom:
          type: "string"
        email:
          type: "string"
          format: "email"
        adresse:
          type: "string"
        codePostal:
          type: "string"
        ville:
          type: "string"
        telephone_mobile:
          type: "string"
        dateNaissance:
          type: "string"
          format: "date-time"
        sexe:
          type: "string"
        sourceAcquisitionProfil:
          type: "string"
  Adherent:
      allOf:
        - $ref: '#/definitions/Objet' 
        - $ref: '#/definitions/Personne'
      type: "object"
      properties:
        idAdherent:
          type: "integer"
          format: "int64"
        numero:
          type: "integer"
          format: "int64"
        isAdherentActif:
          type: "boolean"
          default: false
        statut:
          type: "string"
        isEnImpaye:
          type: "boolean"
        soldeCompte:
          type: "number"
          format: "float"          
        idClubAffectation:
          type: "integer"
          format: "int64"
        dateDerniereAdhesion:
          type: "string"
          format: "date-time"
        isParraine:
          type: "boolean"
        numeroAdherentParrain:
          type: "string"
        codeParrainage:
          type: "string"          

  Prospect:
      allOf:
        - $ref: '#/definitions/Objet'
        - $ref: '#/definitions/Personne'        
      type: "object"
      properties:
        idProspect:
          type: "integer"
          format: "int64"
        statutProspect:
          type: "string"          
        motivationPrincipale:
          type: "string"  

  Article:
      allOf:
        - $ref: '#/definitions/Objet'
      type: "object"
      properties:
        idArticle:
          type: "integer"
          format: "int64"
        idClub:
          type: "integer"
          format: "int64"
        nom:
          type: "string"
        code:
          type: "string"  

  Club:
      allOf:
        - $ref: '#/definitions/Objet' 
      type: "object"
      properties:
          idClub:
            type: "integer"
            format: "int64"
          numero:
            type: "integer"
            format: "int64"            
          nom:
            type: "string"
          adresse:
            type: "string"
          telephone:
            type: "string"
          email:
            type: "string"
          nomResponsable:
            type: "string"
          ville:
            type: "string"
          adherents:
            type: "string"
          reglements:
            type: "string"

  ContratAdhesion:
      allOf:
        - $ref: '#/definitions/Objet'   
      type: "object"
      title: "Contrat d'adhésion"
      properties:
          idContratAdhesion:
            type: "integer"
            format: "int64"
          typeContrat:
            type: "string"
          idAdherent:
            type: "integer"
            format: "int64"
          nbMoisEngagement:
            type: "integer"
            format: "int64"
          idClub:
            type: "integer"
            format: "int64"
          idArticle:
              type: "integer"
              format: "int64"
          prixHT:
              type: "number"
              format: "float"
          prixTTC:
              type: "number"
              format: "float"              
          prixTVA:
              type: "number"
              format: "float"
          dateEffetDemarrage:
            type: "string"
            format: "date-time"
          dateDemandeResiliation:
            type: "string"
            format: "date-time"
          dateEffetResiliation:
            type: "string"
            format: "date-time"
          motifResiliation:
              type: "string"

  FactureVente:
      allOf:
        - $ref: '#/definitions/Objet' 
      type: "object"
      title: "Facture de vente"        
      properties:
          idFactureVente:
            type: "integer"
            format: "int64"
          numero:
            type: "integer"
            format: "int64"            
          dateFacturation:
            type: "string"
            format: "date-time"
          idClub:
            type: "integer"
            format: "int64"
          idAdherent:
            type: "integer"
            format: "int64"

  LigneFactureVente:
      allOf:
        - $ref: '#/definitions/Objet'   
      type: "object"
      title: "Ligne de facture de vente"        
      properties:
          idLigneFactureVente:
            type: "integer"
            format: "int64" 
          idFactureVente:
            type: "integer"
            format: "int64"
          sens:
            type: "string"
          statut:
            type: "string"            
          dateEcheance:
            type: "string"
            format: "date-time"
          moisFacturation:
            type: "integer"
          montantHT:
            type: "number"
            format: "float"            
          montantTTC:
            type: "number"
            format: "float"
          idLigneFactureVenteAnnulation:
            type: "integer"
            format: "int64"

  Reglement:
      allOf:
        - $ref: '#/definitions/Objet'   
      type: "object"
      title: "Règlement d'une échéance"
      properties:
          reglementEchId:
            type: "integer"
            format: "int64" 
          idClub:
            type: "integer"
            format: "int64"
          idAdherent:
            type: "integer"
            format: "int64"   
          montantTTC:
            type: "number"
            format: float   
          idFactureVente:
            type: "integer"
            format: "int64"
          typeMoyenReglement:
            type: "string"
          sens:
            type: "string"
          statut:
            type: "string"
          idReglementAnnulation:
            type: "integer"
            format: "int64"            
          Cheque:
            type: object
            properties:
              numero:
                type: "string"
              dateEncaissement:
                type: "string"
                format: "date-time"
              nomTitulaire:
                type: "string"
